sudo: required
language: node_js
node_js: "6"
os: osx
matrix:
  include:
    - os: osx
      osx_image: xcode7.3
      node_js: "7"
    - os: osx
      osx_image: xcode7.3
      node_js: "6"
    - os: osx
      osx_image: xcode7.3
      node_js: "4"
    - os: osx
      osx_image: xcode8
      node_js: "7"
    - os: osx
      osx_image: xcode8
      node_js: "6"
    - os: osx
      osx_image: xcode8
      node_js: "4"
install:
  - npm install
  - npm install -g gulp

script:
  - _FORCE_LOGS=1 gulp test

after_success:
    - gulp coveralls
