name: Functional Tests

on:
  pull_request:
    branches:
    - master
    paths-ignore:
    - 'docs/**'
    - '*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  CI: true

jobs:
  test:
    # https://github.com/actions/runner-images/tree/main/images/macos
    strategy:
      matrix:
        include:
        - xcodeVersion: '16.4'
          iosVersion: '18.5'
          deviceName: 'iPhone 16'
          platform: macos-15
        - xcodeVersion: '15.4'
          iosVersion: '17.5'
          deviceName: 'iPhone 15'
          platform: macos-14
      fail-fast: false

    env:
      _FORCE_LOGS: 1
      DEVICE_NAME: ${{ matrix.deviceName }}
      XCODE_VERSION: ${{ matrix.xcodeVersion }}
      IOS_SDK: ${{ matrix.iosVersion }}
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v6

    - name: Install Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 'lts/*'

    - name: Select Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: "${{ matrix.xcodeVersion }}"

    - run: xcrun simctl list
      name: List devices

    - run: npm install
      name: Install dev dependencies

    - run: npm run e2e-test
      name: Run e2e tests on Xcode@${{ matrix.xcodeVersion }}
